

<div class="container">

	<form action="/interventions" method="post" accept-charset="UTF-8" >
  <div class="form-group row">
  <h1>New Intervention</h1>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer Company Name: </label>
    <div class="col-sm-5">
      <%= select_tag "customer_id", options_from_collection_for_select(Customer.all, "id", "CompanyName"), prompt: "Customer", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    </div>
  </div>
 
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Full Name Of Building Admin: </label>
    <div class="col-sm-5">
      <%= select_tag "building_id", options_from_collection_for_select(Building.all, "id", "FullNameOfBuildingAdmin"), prompt: "Building", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Battery ID: </label>
    <div class="col-sm-5">
      <%= select_tag "battery_id", options_from_collection_for_select(Battery.all, "id", "id"), prompt: "Battery", class: "custom-select mb-0 mr-sm-0 mb-sm-0" %>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Column ID: </label>
    <div class="col-sm-5">
           <%= select_tag "column_id", options_from_collection_for_select(Column.all, "id", "id"), prompt: "None", class: "custom-select mb-0 mr-sm-0 mb-sm-0"%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Elevator ID: </label>
    <div class="col-sm-5">
           <%= select_tag "elevator_id", options_from_collection_for_select(Elevator.all, "id", "id"), prompt: "None", class: "custom-select mb-0 mr-sm-0 mb-sm-0"%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Employee to be assigned: </label>
    <div class="col-sm-5">
       <%= select_tag "employee_id", options_from_collection_for_select(Employee.all, "id", "first_name"), prompt: "None", class: "custom-select mb-0 mr-sm-0 mb-sm-0"%>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Description: </label>
    <div class="col-sm-5">
    <%= text_field_tag "report"%>
  </div>
  </div>
  <div class="form-group row">
  <div class="col-sm-3"></div>
		<div class="col-sm-5">
			<button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send Intervention Request</button>
		</div>
	</div>
  
</form>
</div>